@{
    ViewBag.Title = "About";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link href="~/Style/Aboutus.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="about ">
                        <h3>Our story</h3>
                        <img src="~/Image/logo/carrental image/CarDealers.gif" style=" width: 550px; height: 300px"; />
                        <p style="text-align: justify;">
                            Started in 2015, we are a vehicle rental aggregator offering on-demand vehicle rental solutions to cater to all your vehicle requirements. Whether you are a corporate or ordinary individual, we serve all. We are here to deliver the best vehicle rental service possible. We know that the need for transportation is evolving day by day, so we travel the extra mile to help you get where you are going or transporting goods the best way possible no matter what kind of vehicle you need or for how long.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="choose-us">
                        <h3>Why choose us?</h3>
                        <img src="~/Image/logo/carrental image/support.gif" style="width: 500px; height: 300px;" />
                        <ul>
                            <li><i class="fa fa-check-circle text-success mr-2"></i>Wide Selection of Vehicles</li>
                            <li><i class="fa fa-check-circle text-success mr-2"></i>Competitive Pricing</li>
                            <li><i class="fa fa-check-circle text-success mr-2"></i>Flexible Rental Options</li>
                            <li><i class="fa fa-check-circle text-success mr-2"></i>Convenient Booking Process</li>
                            <li><i class="fa fa-check-circle text-success mr-2"></i>24/7 Customer Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
